<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app ng-controller="Boards">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" /> 
     <script src="http://code.jquery.com/jquery-1.9.1.js"></script>  
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="scripts/script.js" defer="defer"></script>
    <script src="scripts/controllers.js"></script>
</head>
<body>

      <div id="indexCard" class="hideInput"> <h4 id="createTask" class="LaneLabels">Create Task</h4><hr /><textarea id="indextext" cols="30" rows="3" placeholder="Type info here and then click button below to make it draggable"></textarea><br /><input type="button"  id="taskbtn" value="Create Index Card" /></div>
     <a href="#" id="newTask">Add new Task!</a>

    <div id="Board">
            
        <div id="BoardRow" >
              <div class="mycell" ng-repeat="lane in lanes" id="BoardLane{{lane.position}}" ng-model="lane">

                  <h1>{{lane.name}}</h1>
                  <div class="DragBox" >
                      <ol class="dropbox" >
                          <li ng-repeat="card in lane.cards" class="BoardDrop" id="toDropDefault{{card.position}}">{{card.cardText}}</li>

                      </ol>
                      
                  </div>
                 <p ng-repeat="card in lane.cards">{{card.cardText}}</p>
              </div>
                

        </div>
      </div>
</body>
</html>